# macOS
.DS_Store

# Xcode
DerivedData/
build/
*.xcuserstate
*.xcscmblueprint
*.moved-aside

# Xcode user settings
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
xcuserdata/

# Swift Package Manager
.build/
Package.resolved

# App packages and archives
*.ipa
*.dSYM.zip
*.dSYM
*.xcarchive

# Playgrounds
timeline.xctimeline
playground.xcworkspace/

# CocoaPods / Carthage, if added later
Pods/
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output/
